# DATABASE_URL=postgresql://[user]:[password]@[endpoint]-pooler.[region].aws.neon.tech/[dbname]?sslmode=require
# DIRECT_URL=postgresql://[user]:[password]@[endpoint].[region].aws.neon.tech/[dbname]?sslmode=require
PORT=3000

