# DATABASE_URL=postgresql://neondb_owner:npg_JIpHE70YnDvM@ep-round-band-ap8fzeca-pooler.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require
# DIRECT_URL=postgresql://neondb_owner:npg_JIpHE70YnDvM@ep-round-band-ap8fzeca.c-7.us-east-1.aws.neon.tech/neondb?sslmode=require
PORT=3000

